<!DOCTYPE html>
<html>
<head>
  <title>Stock Inventory</title>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>

<nav>
  <ul>
    <li>
      <a href="/stock/new">New Entry</a>
    </li>
    <li>
      <a href="/stock">Stock</a>
    </li>
  </ul>
</nav>

<%=yield %>
</body>
</html>

