<!DOCTYPE html>
<html>
<head>
  <title>Stock Inventory</title>
  <link rel="icon" href="/images/CD.png" />
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
<main class="menus_left">
  <nav>
    <ul>
      <li>
        <a href="/stock/new">New Entry</a>
      </li>
      <li>
        <a href="/stock">Stock</a>
      </li>
    </ul>
  </nav>
<section id="content">
  <%=yield %>
  </section>
  </main>
</body>
</html>

