<h1> Add New Entry </h1>


<form action="/stock" method= "post"> 
<div class="add_entry_details">
<label>Title: <input type= "text" name= "title"></label>

<label>Genre: <input type="text" name="genre"></label>

<label>Quantity: <input type="number" name="quantity"></label>

<label>Artist:
  <select name="artist_id">
    <% for artist in @artists %>
    <option value="<%= artist.id %>"><%= artist.name %></option>
    <% end %>
  </select>
</label>

<label>Price: <input type="number" name="price"></label>

</div>
<input type="Submit" value="Add Entry">

</form>