<h1> Add New Entry </h1>


<form action="/stock" method= "post"> 
<div class="add_entry_details">
<label>Title: <input type= "text" name= "title"></label>

<label>Genre: <input type="text" name="genre"></label>

<label>Quantity: <input type="number" name="quantity"></label>

<label> Artist: <select name="artist_id">
<option value="1">Oasis</option>
<option value="2">Blur</option>
<option value="3">Cher</option>
</select>
</label>
</div>
<input type="Submit" value="Add Entry">

</form>