<h1>Artists</h1>

<p class="inventory">
<hr />
<% for artist in @artists %>
<p>Artist: <% artist.name %></p>

<p class="button_box">
<a class="button update" href="/artist/<%=artist.id %>">Update</a>
</p>

<hr />
<% end %>

