<h1>Add New Artist</h1>


<form action="/artist" method= "post"> 
<div class="add_entry_details">
<label>Name: <input type= "text" name= "name"></label>
</div>
<input type="Submit" value="Add Entry">

</form>

